site_name: Trailblazer Docs
site_url: https://builders-lab.github.io/trailblazer-docs/
repo_url: https://github.com/builders-lab/trailblazer-docs
repo_name: "builders-lab/trailblazer-docs"

# This connects the "Edit" button to the correct branch
edit_uri: edit/main/docs/

theme:
  name: material
  # TODO: To add the logo
  # logo: assets/logo.png 
  # favicon: assets/favicon.ico
  
  features:
    - navigation.tabs          
    - navigation.sections     
    - navigation.top         
    - navigation.tracking   
    - navigation.instant   
    - content.code.copy   
    - content.action.edit      
    - search.suggest          
    - search.highlight       

  palette:
   
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

markdown_extensions:
  - admonition
  - abbr
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.tabbed:
      alternate_style: true 
  - pymdownx.tasklist:
      custom_checkbox: true

plugins:
  - search

nav:
  - Home: index.md
  - Architecture:
      - 'High-Level Design': architecture/system-design.md
      - 'Roadmap': architecture/roadmap.md
  - API Reference: api/index.md
